<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>IF ELSE</title>
</head>
<body>
    <div class="root">
        <div class="row">

            <!-- Left Side Navbar Start -->
            <div class="left-header">
                <p>Learn Javascript</p>
                <div class="left-menu">
                    <h4>Conditionals</h4>
                    <ol>
                        <li><a href="/component/ifelse.html">IF ELSE</a></li>
                        <li>Switch</li>
                    </ol>
                </div>
            </div>
            <!-- Left Side Navbar End -->

            <div class="main-content">
                <p>Excercise:</p>
            </div>
        </div>
    </div>
</body>
</html>