@import url('https://fonts.googleapis.com/css2?family=Denk+One&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Denk One', sans-serif;
}
.header{
    background-color: black;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
}
.header h2{
    color: white;
    font-size: 20px;
}
.header ol{
    color: white;
    display: flex;
    transition: all 0.5s ease;
}
.header ol li{  
    margin-left: 15px;
    text-decoration: none;
    list-style: none
}
.header ol li:hover{
    color: red;
}
#click{
    display: none;
}
.header label{
    color: white;
    display: none;
}
.hello{
    display: flex;
    justify-content: center;
}
.hello h2{
    font-size: 40px;
    margin: 200px 0 200px 0;
}
.hello h2 span{
    color: red;
}

@media only screen and (max-width: 500px) {
    .header ol{
        color: white;
        display: block;
        position: absolute;
        top: 60px;
        left: -100%;
        /* right: -100%; */
        background-color: rgba(0, 0, 0, 0.89);
        width: 100vw;
        height: 100vh;
        margin: 0;
    }
    .header ol li{
        text-align: center;
        font-size: 16px;
        line-height: 50px;
    }
    #click:checked ~ ol{
        left: 0%;
        /* right: 0%; */
    }
    .header label{
        display: block;
    }
}